<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- https://www.mkyong.com/logging/logback-disable-logging-in-unit-test/ -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="${LOGGING_LEVEL_ROOT}">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.springframework" level="OFF"/>
</configuration>
